@use '../../../styles/vars.scss' as vars;
.giftCard {
	background-color: vars.$card-bg-color;
	border: 1px solid darken(vars.$card-bg-color, 10%);
	border-radius: 8px;
	padding: 20px;
	width: 150px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	text-align: center;
	position: relative; // Для возможности использования hover на дочернем элементе

	&:hover {
		animation: shake 0.5s ease-in-out; // Анимация при наведении на карточку
	}

	// Увеличение иконки при наведении на карточку
	&:hover .giftIcon {
		transform: scale(1.15); // Увеличение иконки на 15%
		transition: transform 0.3s ease;
	}

	.giftIcon {
		font-size: 36px;
		margin-bottom: 10px;
		transition: transform 0.3s ease;
	}

	.giftDate {
		font-size: 14px;
		color: vars.$secondary-text-color;
	}

	.giftPrize {
		font-size: 18px;
		margin: 10px 0;
		color: vars.$text-color;
	}

	.giftButton {
		background-color: vars.$button-bg-color;
		color: vars.$text-color;
		border: none;
		border-radius: 4px;
		padding: 10px 15px;
		cursor: pointer;
		font-size: 14px;
		margin-top: 10px;

		&:hover {
			background-color: vars.$button-hover-color;
		}
	}
}
.modal {
	opacity: 0;
	transition: ease 0.3s;
	top: 50%;
	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.6);
	width: 400px;
	height: auto;
	background-color: white;
	border-radius: 15px;
	pointer-events: none;
	padding: 30px 40px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.modalOpen {
	opacity: 1;
	pointer-events: all;
	transform: translate(-50%, -50%) scale(1);
	z-index: 100;
	.modal_title {
		color: black;
		font-weight: 600;
		position: relative;
	}
}
.image_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.image {
	object-fit: cover;
}
.layout {
	pointer-events: none;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(8, 3, 31, 0.432);
	opacity: 0;
	transition: ease 0.2s;
	&_active {
		opacity: 1;
		pointer-events: all;
	}
}
.close {
	background-color: black;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: -30px;
	top: -20px;
}
