@use '../../../styles/vars.scss' as vars;
.giftCard {
	background-color: vars.$card-bg-color;
	border: 1px solid darken(vars.$card-bg-color, 10%);
	border-radius: 8px;
	padding: 20px;
	width: 150px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	text-align: center;
	position: relative; // Для возможности использования hover на дочернем элементе

	&:hover {
		animation: shake 0.5s ease-in-out; // Анимация при наведении на карточку
	}

	// Увеличение иконки при наведении на карточку
	&:hover .giftIcon {
		transform: scale(1.15); // Увеличение иконки на 15%
		transition: transform 0.3s ease;
	}

	.giftIcon {
		font-size: 36px;
		margin-bottom: 10px;
		transition: transform 0.3s ease;
	}

	.giftDate {
		font-size: 14px;
		color: vars.$secondary-text-color;
	}

	.giftPrize {
		font-size: 18px;
		margin: 10px 0;
		color: vars.$text-color;
	}

	.giftButton {
		background-color: vars.$button-bg-color;
		color: vars.$text-color;
		border: none;
		border-radius: 4px;
		padding: 10px 15px;
		cursor: pointer;
		font-size: 14px;
		margin-top: 10px;

		&:hover {
			background-color: vars.$button-hover-color;
		}
	}
}
