@use '../../../styles/vars.scss' as vars;

@keyframes shake {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(-3px, 0);
	}
	50% {
		transform: translate(5px, 0);
	}
	75% {
		transform: translate(-3px, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}

.giftContainer {
	background-color: vars.$background-color;
	color: vars.$text-color;
	text-align: center;
	padding: 20px;

	.giftHeader {
		p {
			font-size: 16px;
			margin: 0;
			padding: 10px;
			color: vars.$secondary-text-color;
		}
	}

	.giftTitle {
		font-size: 24px;
		margin: 20px 0;
		color: vars.$text-color;
	}

	.giftCards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
	}
}
