:root {
	--neutral-white: #fff;
	--neutral-black: #000;
	--orange-pine: rgba(251, 150, 0, 1);
	--pink-pine: rgba(255, 0, 184, 1);
	--green-pine: rgba(55, 139, 96, 1);
	--gray-30: rgba(77, 77, 77, 1);
}
