@use './fonts.scss';
@use './vars.scss';
@use './colors.scss';
@use './reset.scss';
img {
	-webkit-user-drag: none;
	user-select: none;
}
body {
	padding: 0;
	margin: 0;
}
input,
textarea {
	border: transparent;
	outline: transparent;

	resize: none;
}

button {
	border: none;
	background: transparent;
	cursor: pointer;
	outline: transparent;
	transition: all 0.3s ease;
}

ul {
	list-style: none;
}

main {
	position: relative;
	z-index: 0;
}
* {
	font-family: Roboto;
}

.container {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 20px;
	@media screen and (max-width: 481px) {
		padding: 0 15.5px;
	}
}
