@use './use/utils';

.container {
	--container-width: 1456px;

	@include utils.media-max-width(1347) {
		--container-width: 1291px;
	}
	@include utils.media-max-width(1092) {
		--container-width: 1036px;
	}
	@include utils.media-max-width(837) {
		--container-width: 781px;
	}
	@include utils.media-max-width(582) {
		--container-width: 526px;
	}
	@include utils.media-max-width(480) {
		--container-width: 472px;
	}
}

$background-color: #1a1a2e;
$card-bg-color: #2e2e47;
$text-color: #fff;
$secondary-text-color: #b5b5b5;
$button-bg-color: #4e9eed;
$button-hover-color: #3c7bbd;
